---
import "./Hero.css";
import OmarShaped from "../../assets/imgs/omarshaped.png";
import { Image } from "astro:assets";
---

<div class="h-screen main-div w-screen">
  <div class="text-container">
    <h2 class="subtitle">Hello im a</h2>
    <h1 class="title">Full stack web <b>Developer</b></h1>
    <p>
      Hi my name is Omar Rodriguez, a passionate web full stack developer with
      several years of experience based on mexico im very excited to start
      buildin something together!
    </p>
    <div class="links-container">
      <div class="circle-container">
        <img src="../../../public/icons/instagram.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/github.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/linkedin.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/email.png" />
      </div>
    </div>
    <a href="https://wa.me/3121963859"
      ><button class="start-btn">Lets talk about your next project!</button></a
    >
  </div>

  <div class="img-container">
    <Image src={OmarShaped} alt="dd" />
  </div>
</div>
