---
import "./Hero.css";
---

<div class="h-screen main-div w-screen">
  <div class="text-container">
    <h2 class="subtitle">Hello im a</h2>
    <h1 class="title">Full stack web <b>Developer</b></h1>
    <p>
      Hi my name is Omar Rodriguez, a passionate web full stack developer with
      several years of experience based on mexico im very excited to start
      buildin something together!
    </p>
    <div class="links-container">
      <div class="circle-container">
        <img src="../../../public/icons/instagram.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/github.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/linkedin.png" />
      </div>
      <div class="circle-container">
        <img src="../../../public/icons/email.png" />
      </div>
    </div>
    <a href="https://wa.me/3121963859"><button class="start-btn">Lets talk about your next project!</button></a>
  </div>

  <div class="img-container">
    <img
      src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fHww"
    />
  </div>
</div>
