---
import "./contact.css"
---

<div class=" h-1/2 pt-20 px-10">
    <footer id="contact">
        <div class="copyright">
            <h2>Omar Rodriguez Dev</h2>
             <h3>®2021 Omar Rodriguez. All right reserved</h3>
             <h3>Designed and coded by Omar Rodriguez</h3>
        </div>    
        <div class="contact">
            
        </div>
        </footer>
</div>
